* {
    margin: 0;
    padding: 0;
}
body{
    color: #deb53d;
	/*background-color: #0c0b09;*/
}

nav#mainNav {
    border-bottom: 1px solid rgba(251, 255, 0, 0.3);
    background-color: rgba(107, 33, 33, 0.3);
}

#mainNav .navbar-brand {
    /*color: #748ea9;*/
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

header.masthead {
    /*background-image:url("/images/header-bg2.jpg");*/
	background-image: none;
	background-color: gray;	
    background-color: #0c0b09;
    background-repeat: no-repeat;
}

#app {
    /*background-image:url("/images/header-bg2.jpg");*/
    /*background-color: #0c0b09;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*background-position: top center;*/
    /*background-size: 100%;*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#app .container {
    height: 100%;
    padding-top: 150px;
    /*width: 1140px;*/
    background-color: rgba(9, 8, 6, .8);
    padding-left: 50px;
    padding-right: 50px;
    min-height: 600px;
}


.btn {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
} 

.btn-primary {
    background-color: rgba(114, 102, 228, 0.27);
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: rgba(123, 70, 70, 0.28)!important;
    border-color: #fec810!important;
}

.btn-primary:active{
    background-color: rgba(254, 200, 16, 0.28)!important;
    border-color: #fec810!important;
    color: #fff;
}

label {
    margin-top: 15px;
}

.well {
    background-color: rgba(107, 33, 33, 0.2);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.well>a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: wheat;
    font-weight: 700;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}


.dropdown-menu {
    margin-left: 260px;
    padding: 0.5rem 5px;
    margin: .125rem 0 0;
    background-color: rgba(56, 25, 10, 0.86);
}


.col-kik-8 {
    position: relative;
    width: 100%;
    display: inline-block;
}

.col-kik-3 {
    float: right;
    right: 20px;
    bottom: 20px;
    position: relative;

}

.col-kik-3>button.btn.btn-primary {
    margin: 0 10px;
}

#mainNav.navbar-shrink {
    background-color: rgba(97, 210, 253, 0.3);
}

.col-kik-8>a {
    text-decoration: none;
}

div.height-kik-40 {
    height: 40px;
}

.container>div>img {
    width: 400px;
    height: 100%;
}

.page-style {
    min-height: 600px;
}

.page-style>p {
    width: 70%;
    text-align: justify;
}

.padding-headers {
    padding: 10px;
    border-radius: 10px;
}

form * {
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid rgba(255, 236, 10, 0.1);
}

footer {
    background-color: #0c0b09;
    height: 400px;
    padding: 20px 70px;
}

.buttons {
    margin-right: 10px;
}


.post-widget-image {
    width: 200px;
    height: 200px;
    /* display: inline; */
    float: left;
    margin-right: 20px;

}

.post-widget-image> img{
    width: 80%;
    /*margin:auto;*/
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    max-height: 200px;
}

.post-widget{
    width: 100%;
    height: 200px;
    /*background-color: #505030;*/
    padding: 10px;
    float: left;
    margin-bottom: 20px;
}
    
.post-widget .well{
    height:200px;
}

section {
    width: 45%;
    margin: 0 2% 2% 2%;
    display: inline-block;
    height: 270px;
    overflow: hidden;
    text-align: center;
    padding: 30px;
    position: relative;
}

section>a:hover {
    text-decoration: none;
}

section>a>img{
    width:40%;
    float:left;
    margin-right: 4%;
    margin-bottom: 4%;
}


/* MAIN SLIDER */

.kik-slider {
    overflow: hidden;
    margin-bottom: 0px;
}

.slider-image {
    width:100%;
}

.slide {
    position: relative;
}

.slide > h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    color : #e8f5b7;
    font-family: 'Rancho', cursive;
    font-size: 6em;
    text-shadow: 1px 1px 15px #000000;
}

/* FIXED SECTION IN THE MAIN PAGE */

.fixed-1 {
    background-image: url('/images/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    text-align: center;
    position: relative;
}

.fixed-1 > div {
    position: absolute;
    left: 50%;
    top: 20%;
    margin-bottom: 40px;
    transform: translate(-50%);
}

/* INDEX PAGE SECTION 1 */

.section-1 {
    position: relative;
    background-color: #578088;
    height : 600px;
    /* margin: 50px auto; */
    /* width: 1141px; */
    text-align: center;
}

.section-1 > div {
    display: inline-block;
    width: 29%;
    margin: 0%;
    /* background-color: #626b6f; */
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.section-1 > div> img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.section-1 > h2 {
    position: absolute;
    top: 5%;
    left: 5%;
}