* {
    margin: 0;
    padding: 0;
}
body{
    color: #deb53d;
	background-color: lavender;
}

nav#mainNav {
    background-color: rgba(16, 38, 62, .4);
}

#mainNav .navbar-brand {
    /*color: #748ea9;*/
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.dropdown-menu {
    margin-left: 260px;
    padding: 0.5rem 5px;
    margin: .125rem 0 0;
    background-color: rgba(56, 25, 10, 0.86);
}


#mainNav.navbar-shrink {
    background-color: rgb(16, 38, 62);
}

ul.dropdown-menu.show {
    margin-left: -60px;
}

ul.dropdown-menu.show > li {
    padding: 10px;
    text-align: right;
}

ul.dropdown-menu.show > li:hover {
    background-color: rgba(35, 16, 6, 0.9);
}

ul.dropdown-menu.show > li > a{
    text-decoration: none;
}

header.masthead {
    /*background-image:url("/images/header-bg2.jpg");*/
    background-image: none;
    background-color: gray; 
    background-color: #0c0b09;
    background-repeat: no-repeat;
}

#app {
    /*background-image:url("/images/header-bg2.jpg");*/
    /*background-color: #0c0b09;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*background-position: top center;*/
    /*background-size: 100%;*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#app .container {
    height: 100%;
    /*padding-top: 150px;*/
    margin-top: 103px;
    padding-top: 50px;
    /*width: 1140px;*/
    background-color: rgb(16, 38, 62);
    padding-left: 50px;
    padding-right: 50px;
    min-height: 800px;
}


.btn {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
} 

.btn-primary {
    background-color: rgba(114, 102, 228, 0.27);
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: rgba(123, 70, 70, 0.28)!important;
    border-color: #fec810!important;
}

.btn-primary:active{
    background-color: rgba(254, 200, 16, 0.28)!important;
    border-color: #fec810!important;
    color: #fff;
}

label {
    margin-top: 15px;
}

.well {
    background-color: rgb(6, 22, 39);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.well>a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: wheat;
    font-weight: 700;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}



.col-kik-8 {
    position: relative;
    width: 100%;
    display: inline-block;

}

.col-kik-8 * {
    text-align: left;
}

.col-kik-3 {
    float: right;
    right: 20px;
    bottom: 20px;
    position: relative;

}

.col-kik-3>button.btn.btn-primary {
    margin: 0 10px;
}

.col-kik-8>a {
    text-decoration: none;
}

div.height-kik-40 {
    height: 40px;
}

.image-container{
    max-height: 300px;
    overflow: hidden;
    
}

.main-image {
    /*width: 400px;*/
    /*height: 100%;*/
    width: 100%;
    height:300px;
    object-fit: cover;
    object-position: center center;
    margin: auto;
    transition: all .5s;
}

.main-image:hover {
    margin: auto;
    width: 110%;
    object-position: center center;
    object-fit: cover;
    /*transition: object-position .5s;*/
}

.page-style {
    min-height: 600px;
}

.page-style>p {
    width: 70%;
    text-align: justify;
}

.padding-headers {
    padding: 10px;
    border-radius: 10px;
}

form * {
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid rgba(255, 236, 10, 0.1);
}

footer {
    background-color: #0c0b09;
    height: 400px;
    padding: 20px 70px;
}

.buttons {
    margin-right: 10px;
}


.post-widget-image {
    width: 200px;
    height: 200px;
    /* display: inline; */
    float: left;
    margin-right: 20px;

}

.post-widget-image> img{
    width: 80%;
    /*margin:auto;*/
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    max-height: 200px;
}

.post-widget{
    width: 100%;
    height: 200px;
    /*background-color: #505030;*/
    padding: 10px;
    float: left;
    margin-bottom: 20px;
}
    
.post-widget .well{
    height:200px;
}

section {
    width: 45%;
    margin: 0 2% 2% 2%;
    display: inline-block;
    height: 270px;
    overflow: hidden;
    text-align: center;
    padding: 30px;
    position: relative;
}

section>a:hover {
    text-decoration: none;
}

section>a>img{
    width:40%;
    float:left;
    margin-right: 4%;
    margin-bottom: 4%;
}


/* MAIN SLIDER */

.kik-slider {
    overflow: hidden;
    margin-bottom: 0px;
}

.slider-image {
    height:630px;
    width:100%;
}

.slide {
    position: relative;
}

.slide > h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    color : #e8f5b7;
    font-family: 'Rancho', cursive;
    font-size: 5em;
    text-shadow: 1px 1px 15px #000000;
}



/* FIXED SECTION IN THE MAIN PAGE */

.fixed-1 {
    background-image: url('/images/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    text-align: center;
    position: relative;
}

.fixed-1 > div {
    position: absolute;
    left: 50%;
    top: 20%;
    margin-bottom: 40px;
    transform: translate(-50%);
    background-color: rgba(10,10,10,.5);
    padding: 50px;
}

.fixed-1 > div > p {
    text-align: justify;
}

/* INDEX PAGE SECTION 1 */

.section-1 {
    position: relative;
    background-color: #696a70;
    height : 600px;
    /* margin: 50px auto; */
    /* width: 1141px; */
    text-align: center;
}

.section-1 > div {
    background-color: #000000a6;
    display: inline-block;
    width: 29%;
    margin: 1%;
    /* background-color: #626b6f; */
    padding: 10px;
    /* border-radius: 10px; */
    margin-top: 100px;
    padding-top: 20px;
}

.section-1 > div> img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.section-1 > h2 {
    position: absolute;
    top: 5%;
    left: 5%;
}

.our-team {
    background-image: url('/images/team/work-team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(2,2,2,.5);
}

.img-kik {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top center;
}

/**************/
/* LOGIN FORM */
/**************/

.loginForm {
    width: 400px;
    background-color: #711010;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    position: relative;

}

.loginForm > h1  {
    text-align: center;
}

.loginForm > button {
    width: 100%;
}

.loginForm > i {
    position: absolute;
    top: 20px;
    left: -100px;
    background-color: #711010;
    padding: 10px;
    border-radius: 45px 0px 0px 45px;
    color: wheat;
    box-shadow: inset -4px 0px 5px 0px #31111187;
}

input.form-control, textarea.form-control {
    background-color: #0a1d31;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
    color:white;
}

input.form-control:focus, textarea.form-control:focus {
    background-color: #1d3754;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
    color:white;
    transition: background-color .3s;
}

input.form-control::placeholder {
    color:#ffffffad;
}

input.form-control:disabled {
    background-color: #0a1d31;
    opacity: 1;
    color: gray;
}


.spacer {
    padding-bottom: 50px;
}

.posts-paragraph {
    max-width: 70%;
    display:block;
    margin:auto;
    /*background-color: white;*/
}

.posts-paragraph > *{
    text-align: justify;
}


/*//////////////////////////////////////*/
/*//////////PAGINATION//////////////////*/
/*//////////////////////////////////////*/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.6;
    text-decoration: none;
    color: #ffffff;
    background-color: #1e4773;
    border: 1px solid #10263e;
    margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
    z-index: 2;
    color: #a2cce4;
    background-color: #062a54;
    border-color: #10263e;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #3097D1;
  border-color: #3097D1;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777777;
    background-color: #89a7c7;
    border-color: #10263e;
    cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/*//////////////////////////////////////*/
/*//////////END PAGINATION /////////////*/
/*//////////////////////////////////////*/

.thumbImgDiv {
    width:200px;
    height: 200px;
    position:relative;
    display:block;
}

.thumbImgDiv > h5 {
    position: absolute;
    top: 15%;
    left: 50%;
    /* right: 0px; */
    z-index: 2;
    transform: translate(-50%);
    font-size: -webkit-xxx-large;
    color: midnightblue;
    text-shadow: 3px 3px yellow;
}

.thumbImg {
    width:200px;
    height: 200px;
    object-fit: cover;
    /*margin: 20px auto;*/
    border-radius: 10px;
    /*opacity: .7;*/
    z-index: 1;
}
